nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
h1 {
	color: #000000;
	
}
h2 {
	color: #222222;
	font-family: sans-serif;
	border-bottom:2px solid pink;
}
p {
	color: #444444;
	font-family: sans-serif;
}
head {
	background-color: #000000;
}
body {
	background-color: #fcf8ec;
}
footer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
footer nav ul {
	list-style: none;
	padding: 0;
	text-align: right;
}

footer nav ul:hover {
	color: #f5f4b3;
	background-color: transparent;
	text-decoration: underline;
	
}
form {
	text-align: center;
}
.navegacion-web {
	border: 4px solid pink;
	
}

h2.titulo_juego{
	border:0;
	text-align:center;
}
.error{
	color: #ff0000;
}
.fatal {
	font-weight:bold;
	text-decoration:underline;
}
.you_win{
	color: #00ff00;
}